@use 'globals/variables' as *;
@use 'globals/mixins' as *;

.photos{
    display: grid;
    background-color: $orange;
    place-content: center;
    place-items: center;
    gap: 2rem;

    @include grid(1, 2rem);

    @include desktop{
        @include grid(2, 1rem)
    }

    &-container{
        max-width: 712px;
        height: 450px;
        overflow: hidden;
        object-fit: cover;
        background-color: $purple;
        margin-block: 1.2rem;
    }
    &-container:nth-child(1){
        background-color: $black;
    }
}