@use 'globals/variables' as *;

.video{
    height: 92.5vh;
    background-color: $black;

    display: grid;
    place-content: center;
    text-align: center;
    color: $white;
    line-height: 0.92;
    h1{
        font-size: 6rem;
        margin: 1rem;
    }
    h2{
        font-weight: 400;
        letter-spacing: -3px;
    }
}