.hidden{
    opacity: 0;
    filter: blur(2px);
    transform: translateY(15px);
    transition: all 0.75s ease;
}



.shown{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

@media(prefered-reduced-motion){
    .hidden{
        transition: none;
    }
}